#countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.country {
  border: 2px solid gold;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}
.country-name {
  font-size: 30px;
  color: magenta;
}
#countryDetails img {
  width: 50%;
  display: block;
  margin: 50px auto;
}
#countryDetails {
  text-align: center;
}
